# Database
PAYLOAD_DATABASE_URI=mongodb://localhost:27017/payload

# Payload
PAYLOAD_SECRET=change-me-to-a-random-secret
PAYLOAD_PUBLIC_ASSETS_PATH=/assets

# Mailer
PAYLOAD_MAILER_FROM=no-reply@example.com
PAYLOAD_MAILER_NAME=My App
NODE_MAILER_SMTP_HOST=smtp.example.com
NODE_MAILER_SMTP_PORT=587
NODE_MAILER_SMTP_USER=user@example.com
NODE_MAILER_SMTP_PWD=changeme
NODE_MAILER_SMTP_SECURE=false

# Public
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_META_NAME=My App
NEXT_PUBLIC_META_TITLE=My App
NEXT_PUBLIC_META_DESCRIPTION=My App Description
NEXT_PUBLIC_META_TYPE=website
