@layer utilities {
  .block-body-onsearch {
    overflow: hidden;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 0.75rem;

  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 0.75rem;
  }
  @media (width >= theme(--breakpoint-md)) {
    padding-inline: 1.5rem;
  }
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 1.5rem;
  }
  @media (width >= theme(--breakpoint-xl)) {
    padding-inline: 2rem;
  }
  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 4rem;
  }
}
